.b-app 
	max-width 1000px
	margin 0 auto
	-webkit-transition -webkit-transform .3s linear, opacity .3s linear
	transition transform .3s linear, opacity .3s linear

	&.is-popupped
		-webkit-transform scale(0.9, 0.9);
		transform scale(0.9, 0.9);
		opacity .4