.b-block
	background #fff
	box-shadow 0 0 5px rgba(0,0,0,.1)
	margin-bottom 30px
	box-sizing border-box
	padding 2% 3% 3% 

	
	&__title
		overflow hidden
		margin-bottom 1em

	&__header
		margin 0
		font-size (36em/16)
		line-height (40/36)
		font-weight normal
		float left

	&__subheader
		margin 0
		clear left
		float left
		font-weight normal

	&__link-list
		float right
		padding 0
		margin 0

	&__link-item
		display inline-block
		margin 0 (10em/12)
		font-size (12em/16)
		line-height (40/12)

		a 
			color #333
		
		a:hover
			text-decoration none

	&__content
		width 100%