.b-lecture
	
	&__header
		max-width 60%
		font-size (25em/16)
		line-height (35/25)

	&__lecturer
		font-size (15em/16)
		line-height (25/15)
	
	&__lecturer:first-letter
		color: #f00

	&__link
		line-height (35/12)