.b-menu-item
	display inline-block
	margin 0 20px 0 0
	font-size (13em/16)

	&__link
		display block
		padding 7px 20px
		background #fff
		border 1px solid #adadad
		border-radius 5px
		text-decoration none
		color #444
		transition .2s

		&:hover
			color #fff
			background-color #D36B68
			border-color #ac2925

		&.is-active
			color #fff
			background-color #d2322d
			border-color #ac2925