.b-popup 
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	display none
	text-align center
	transition: background .3s linear

	&:before
		content ''
		display inline-block
		vertical-align middle
		height 100%

	&__block
		max-width 960px
		width 90%
		display inline-block
		text-align left
		vertical-align middle
		height 90%
		position relative
		transition .3s linear
		-webkit-transform translateY(-1000px)

		&:before
			content ''
			display inline-block
			vertical-align middle
			height 100%
			font-size 0

	&__wrap
		max-height 100%
		overflow auto
		width 100%
		display inline-block
		vertical-align middle

	&__close
		font-size 60px
		font-weight bold
		line-height 1
		position absolute
		right -50px
		top 0
		cursor pointer


	&__content > *
		margin 0

	&.is-visible
		background #000
		background rgba(0,0,0,.3)

	&.is-visible &__block
		-webkit-transform translateY(0)