doctype 5
html(lang="en")
  head

    script(src="/js/data.js")
    link(href="/css/style.css", rel="stylesheet", type="text/css", charset="utf-8")

  body

    div.b-app#app

    script(src="/js/lib/jquery.js")
    script(src="/js/lib/underscore.js")
    script(src="/js/lib/backbone.js")
    
    script(src="/js/Models/PersonModel.js")
    script(src="/js/Models/LectureModel.js")
    script(src="/js/Models/MenuItemModel.js")
    script(src="/js/Models/StaticModel.js")

    script(src="/js/Collections/PersonCollection.js")
    script(src="/js/Collections/LectureCollection.js")
    script(src="/js/Collections/MenuCollection.js")

    script(src="/js/templates.js")

    script(src="/js/Views/PersonListView.js")
    script(src="/js/Views/PersonView.js")
    script(src="/js/Views/LectureListView.js")
    script(src="/js/Views/LectureView.js")
    script(src="/js/Views/MenuItemView.js")
    script(src="/js/Views/MenuView.js")
    script(src="/js/Views/StaticView.js")
    script(src="/js/Views/AppView.js")

    script(src="/js/app.js")

      